// I simply borrowed palette from Material UI ( ♥ ͜ʖ ♥)

$primary: #1976d2;
$secondary: #dc004e;
$error: #f44336;
$warning: #ff9800;
$info: #2196f3;
$success: #4caf50;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$text-disabled: rgba(0, 0, 0, 0.38);