$modal-bg: #fcfcfc;

.modal {
    display: none;
    @include box-shadow;
    visibility: visible;
    width: 90%;
    max-width: 640px;
    height: 90%;
    max-height: 420px;
    border-radius: 5px;
    background-color: $modal-bg;
    transition: .3s;
    i {
        float: right;
        font-size: 1.75rem;
        margin: 1rem;
        cursor: pointer;
        transition: .2s;
        &:hover {
            font-size: 1.8rem;
            color: $primary-color;
        }
    }
    .img-box {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        img {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 180px;
            height: auto;
        }
    }
}